{% extends 'baseBack.html' %} 
{% block content %} 
{%load static %}
    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>All Mails</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title -->
<div class="containerTable">
  {% comment %} <div>
    <button><a href={% url 'profilesList' %}>back</a></button>
  </div> {% endcomment %}
  <div class="containerTypeMail">
    <h3>Mails non lus</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 100px;" scope="col">nom</th>
        <th style="width: 100px;" scope="col">adresse mail</th>
        <th style="width: 100px;" scope="col"></th>
        <th style="width: 100px;" scope="col"></th>
        <th style="width: 100px;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for mail in mails %} {% if not mail.lu %}
      <tr class="bg-danger">
        <td style="width: 100px; color: #ffffff">{{mail.psodo}}</td>
        <td style="width: 100px; color: #ffffff">{{mail.email}}</td>
        <td style="width: 100px;"><a href="{% url 'lireMail' mail.id %}">OPEN</a></td>
        <td style="width: 50px;"></td>
        <td style="width: 50px;"></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
    <div class="containerTypeMail">
        <h3>Mails lus</h3>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 100px;" scope="col">nom</th>
        <th style="width: 100px;" scope="col">adresse mail</th>
        <th style="width: 100px;" scope="col"></th>
        <th style="width: 100px;" scope="col"></th>
        <th style="width: 100px;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for mail in mails %} {% if mail.lu %}
      <tr class="bg-success">
        <td style="width: 100px; color: #ffffff">{{mail.psodo}}</td>
        <td style="width: 100px; color: #ffffff">{{mail.email}}</td>
        <td style="width: 50px"><a href="{% url 'lireMail' mail.id %}">OPEN</a></td>
        <td style="width: 50px"><a href="{% url 'response' mail.id %}">RESPOND</a></td>
        <td style="width: 50px"><a class="text-danger" href="{% url 'deleMail' mail.id %}">DELETE</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}