{% extends 'baseBack.html' %}
{% load static %}
{% block content %}
        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Orders</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

{% endblock  %}