{% load static %}
<!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>About The Store</h3>

                            <div class="about-the-store">
                                <p>One of the most popular on the web is shopping.</p>
                                <ul class="footer-contact-info">
                                    <li><i class='bx bx-map'></i> <a href="#" target="_blank">{{ contact_info.location }}</a></li>
                                    <li><i class='bx bx-phone-call'></i> <a href="tel:+01321654214">{{ contact_info.phone }}</a></li>
                                    <li><i class='bx bx-envelope'></i> <a href="mailto:hello@xton.com">{{ contact_info.email }}</a></li>
                                </ul>
                            </div>

                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-4">
                            <h3>Quick Links</h3>

                            <ul class="quick-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Shop Now!</a></li>
                                <li><a href="{% url 'productLeftSideBar2' %}">Woman's</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                <li><a href="{% url 'indexBack' %}">Go To BackOffice</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Customer Support</h3>

                            <ul class="customer-support">
                                {% if user.is_authenticated %}
                                    {% if user.role == 'admin' %}
                                    <li><a href="{% url 'profileBack' %}">My Account</a></li>
                                    {% else %}
                                    <li><a href="{% url 'profileBack' %}">My Account</a></li>
                                    {% endif %}
                                {% else %}
                                <li><a href="{% url 'login' %}"></i>My Account</a></li>
                                {% endif %}
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'cart' %}">Cart</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="{% url 'trackOrder' %}">Order Tracking</a></li>
                                <li><a href="{% url 'contact' %}">Help & Support</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        {% include 'app/front/main/newsLettre.html' %}
                    </div>
                </div>

                <div class="footer-bottom-area">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <ul class="payment-types">
                                <li><a href="#" target="_blank"><img src="{% static 'app/img/payment/visa.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'app/img/payment/mastercard.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'app/img/payment/mastercard2.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'app/img/payment/visa2.png' %}" alt="image"></a></li>
                                <li><a href="#" target="_blank"><img src="{% static 'app/img/payment/expresscard.png' %}" alt="image"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </footer>
        <!-- End Footer Area -->