{% extends 'baseFront.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{product.name}}</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Products Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Start Product Details Area -->
        <section class="product-details-area pt-100 pb-70">
            <div class="container">
                <div class="products-details-image-slider owl-carousel owl-theme">
                    <div class="image">
                        <img src={{product.image1.url}} alt="image">
                    </div>

                    <div class="image">
                        <img src={{product.image2.url}} alt="image">
                    </div>

                    <div class="image">
                        <img src={{product.image3.url}} alt="image">
                    </div>

                </div>

                <div class="products-details-desc">
                    <h3>{{product.name}}</h3>

                    {% if product.promo > 0 %}
                        <div class="price">
                            <span class="old-price">$ {{ product.price }} </span>
                            <span class="new-price">$ {{ product.get_discounted_price }} </span>
                        </div>
                    {% else %}
                        <div class="price">
                            <span class="new-price">$ {{ product.price }} </span>
                        </div>
                    {% endif %}

                    <div class="products-review">
                        <div class="rating">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <a href="#" class="rating-count">3 reviews</a>
                    </div>

                    <ul class="products-info">
                        <li><span>Brand:</span> <a href="#">{{product.partner}}</a></li>
                        <li><span>Availability:</span> <a class="stockQuantity availability-{{product.id}}" href="#">In stock ({{ product.stock_XS }} items)</a></li>
                        <li><span>Products Type:</span> <a href="#">{{product.category}}</a></li>
                    </ul>

                    <div class="products-size-wrapper">
                        <span>Size:</span>

                        <ul>
                            <li class="size-link btnXs" data-size="{{ product.stock_XS }}" data-product-id="{{ product.id }}"><a>XS</a></li>
                            <li class="size-link btnS" data-size="{{ product.stock_S }}" data-product-id="{{ product.id }}"><a>S</a></li>
                            <li class="size-link btnM" data-size="{{ product.stock_M }}" data-product-id="{{ product.id }}"><a>M</a></li>
                            <li class="size-link btnL" data-size="{{ product.stock_L }}" data-product-id="{{ product.id }}"><a>L</a></li>
                            <li class="size-link btnXl" data-size="{{ product.stock_XL }}" data-product-id="{{ product.id }}"><a>XL</a></li>
                        </ul>
                    </div>

                    
                    <div class="products-add-to-cart">
                        <div class="input-counter">
                            <span class="minus-btn"><i class='bx bx-minus'></i></span>
                            <input type="text" value="1">
                            <span class="plus-btn"><i class='bx bx-plus'></i></span>
                        </div>

                        <button type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                    </div>

                    <div class="wishlist-compare-btn">
                        <a href="#" class="optional-btn"><i class='bx bx-heart'></i> Add to Wishlist</a>
                    </div>
                </div>

                <div class="tab products-details-tab">
                    <ul class="tabs">
                        <li><a href="#">
                            <div class="dot"></div> Description
                        </a></li>
                        
                        <li><a href="#">
                            <div class="dot"></div> Additional Information
                        </a></li>

                        <li><a href="#">
                            <div class="dot"></div> Shipping
                        </a></li>

                        <li><a href="#">
                            <div class="dot"></div> Why Buy From Us
                        </a></li>

                        <li><a href="#">
                            <div class="dot"></div> Reviews
                        </a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tabs-item">
                            <div class="products-details-tab-content">
                                <p>Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum.  Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Nulla libero. Vivamus pharetra posuere sapien.</p>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li>Fabric 1: 100% Polyester</li>
                                            <li>Fabric 2: 100% Polyester, Lining: 100% Polyester</li>
                                            <li>Fabric 3: 75% Polyester, 20% Viscose, 5% Elastane</li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <ol>
                                            <li>Fabric 3: 75% Polyester, 20% Viscose, 5% Elastane</li>
                                            <li>Fabric 2: 100% Polyester, Lining: 100% Polyester</li>
                                            <li>Fabric 1: 100% Polyester</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="products-details-tab-content">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Color:</td>
                                                <td>Blue, Purple, White</td>
                                            </tr>
                                            <tr>
                                                <td>Size:</td>
                                                <td>20, 24</td>
                                            </tr>
                                            <tr>
                                                <td>Material:</td>
                                                <td>100% Polyester</td>
                                            </tr>
                                            <tr>
                                                <td>Height:</td>
                                                <td>180 cm - 5' 11”</td>
                                            </tr>
                                            <tr>
                                                <td>Bust:</td>
                                                <td>83 cm - 32”</td>
                                            </tr>
                                            <tr>
                                                <td>Waist:</td>
                                                <td>57 cm - 22”</td>
                                            </tr>
                                            <tr>
                                                <td>Hips:</td>
                                                <td>88 cm - 35</td>
                                            </tr>
                                            <tr>
                                                <td>Shipping:</td>
                                                <td>Free</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="products-details-tab-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Shipping</td>
                                                <td>This item Ship to USA</td>
                                            </tr>

                                            <tr>
                                                <td>Delivery</td>
                                                <td>
                                                    Estimated between Wednesday 07/31/2021 and Monday 08/05/2021 <br>
                                                    Will usually ship within 1 bussiness day.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="products-details-tab-content">
                                <p>Here are 5 more great reasons to buy from us:</p>

                                <ol>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                                    <li> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                                    <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                    <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                </ol>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="products-details-tab-content">
                                <div class="products-review-form">
                                    <h3>Customer Reviews</h3>

                                    <div class="review-title">
                                        <div class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                        </div>
                                        <p>Based on 3 reviews</p>
                                        <a href="#" class="default-btn">Write a Review</a>
                                    </div>

                                    <div class="review-comments">
                                        <div class="review-item">
                                            <div class="rating">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <h3>Good</h3>
                                            <span><strong>Admin</strong> on <strong>Sep 21, 2021</strong></span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        </div>

                                        <div class="review-item">
                                            <div class="rating">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <h3>Good</h3>
                                            <span><strong>Admin</strong> on <strong>Sep 21, 2021</strong></span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        </div>

                                        <div class="review-item">
                                            <div class="rating">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <h3>Good</h3>
                                            <span><strong>Admin</strong> on <strong>Sep 21, 2021</strong></span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                        </div>
                                    </div>

                                    <div class="review-form">
                                        <h3>Write a Review</h3>

                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" id="review-title" name="review-title" placeholder="Enter your review a title" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="review-body" id="review-body" cols="30" rows="6" placeholder="Write your comments here" class="form-control"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12">
                                                    <button type="submit" class="default-btn">Submit Review</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="related-products">
                <div class="container">
                    <div class="section-title">
                        <span class="sub-title">Our Shop</span>
                        <h2>Related Products</h2>
                    </div>

                    <div class="products-slides owl-carousel owl-theme">
                        {% for product in  related_articles %}
                        <div class="single-products-box">
                            <div class="products-image">
                                <a class="cadreImgProducts" href="{% url 'productsType5' product.id %}">
                                    <img src="{{product.image1.url }}" class="imgGoodSize main-image" alt="image" />
                                    <img src="{{product.image1.url }}" class="imgGoodSize hover-image" alt="image" />
                                </a>

                                <div class="products-button">
                                    <ul>
                                        <li>
                                            <div class="wishlist-btn">
                                                <a href="#">
                                                    <i class='bx bx-heart'></i>
                                                    <span class="tooltip-label">Add to Wishlist</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="compare-btn">
                                                <a href="#">
                                                    <i class='bx bx-refresh'></i>
                                                    <span class="tooltip-label">Compare</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="quick-view-btn">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                                                    <i class='bx bx-search-alt'></i>
                                                    <span class="tooltip-label">Quick View</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="products-content">
                                <h3><a href="{% url 'productsType5' product.id %}">{{product.name}}</a></h3>
                                <a href="#">{{product.category}}</a>
                                {% if product.promo > 0 %}
                                    <div class="price">
                                        <span class="old-price">$ {{ product.price }} </span>
                                        <span class="new-price">$ {{ product.get_discounted_price }} </span>
                                    </div>
                                {% else %}
                                    <div class="price">
                                        <span class="new-price">$ {{ product.price }} </span>
                                    </div>
                                {% endif %}
                                <div class="star-rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="add-to-cart">Add to Cart</a>
                            </div>
                        </div>

                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Product Details Area -->

        <!-- Start Facility Area -->
        <section class="facility-area pb-70">
            <div class="container">
                <div class="facility-slides owl-carousel owl-theme">
                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-tracking'></i>
                        </div>
                        <h3>Free Shipping Worldwide</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-return'></i>
                        </div>
                        <h3>Easy Return Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-shuffle'></i>
                        </div>
                        <h3>7 Day Exchange Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-sale'></i>
                        </div>
                        <h3>Weekend Discount Coupon</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-credit-card'></i>
                        </div>
                        <h3>Secure Payment Methods</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-location'></i>
                        </div>
                        <h3>Track Your Package</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-customer-service'></i>
                        </div>
                        <h3>24/7 Customer Support</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Facility Area -->

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Sélectionnez tous les boutons de taille
                const sizeButtons = document.querySelectorAll('.size-link');
        
                // Fonction pour mettre à jour les classes lorsqu'un bouton est cliqué
                function handleButtonClick(clickedButton) {
                    // Supprimer la classe "active" de tous les boutons de taille
                    sizeButtons.forEach(button => {
                        button.classList.remove('active');
                    });
        
                    // Ajouter la classe "active" au bouton cliqué
                    clickedButton.classList.add('active');
                }
        
                // Ajouter des événements click et mousedown à chaque bouton de taille
                sizeButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        const size = this.dataset.size;
                        const productId = this.dataset.productId;
                        const availabilityElement = document.querySelector(`.availability-${productId}`);
                        availabilityElement.textContent = `In stock (${size} items)`;
        
                        // Appeler la fonction pour mettre à jour les classes
                        handleButtonClick(this);
                    });
        
                    button.addEventListener('mousedown', function() {
                        // Mettre à jour la couleur du texte en blanc (#ffffff)
                        this.querySelector('a').style.color = '#ffffff';
                    });
        
                    button.addEventListener('mouseup', function() {
                        // Rétablir la couleur du texte à sa valeur d'origine
                        this.querySelector('a').style.color = ''; // Laisser la valeur vide pour rétablir la couleur par défaut du texte
                    });
                });
            });
        </script>
        
{% endblock  %}

