{% extends 'baseFront.html' %}
{% load static %}
{% block content %}

    <!-- Start Page Title -->
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Our Products</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Products</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Start Products Area -->
    <section class="products-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="woocommerce-widget-area">

                        <div class="woocommerce-widget collections-list-widget">
                            <h3 class="woocommerce-widget-title">Collections</h3>

                            <ul class="collections-list-row">
                                <li>
                                    <a href="{% url 'productLeftSideBar2' %}" {% if not request.GET.category and not request.GET.main_category and not request.GET.promo %}class="active"{% endif %}>All</a>
                                </li>
                                {% for categorys in categories %}
                                    {% if forloop.counter < 3 %}
                                    <li>
                                        <a href="{% url 'productLeftSideBar2' %}?main_category={{categorys.name}}{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="type_link {% if request.GET.main_category == categorys.name and not request.GET.promo %} active {% endif %}">{{ categorys.name }}</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'productLeftSideBar2' %}?category={{categorys.name}}{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="type_link {% if request.GET.category == categorys.name and not request.GET.promo %} active {% endif %}">{{ categorys.name }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            
                                <!-- Nouveau lien pour afficher les produits en promo -->
                                <li>
                                    <a href="{% url 'productLeftSideBar2' %}?promo=true{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="type_link {% if request.GET.promo == 'true' %} active {% endif %}">Promo</a>
                                </li>
                            </ul>
                        </div>

                        <div class="woocommerce-widget collections-list-widget">
                            <h3 class="woocommerce-widget-title">Brands</h3>

                            <ul class="collections-list-row">
                                <li>
                                    <a href="{% url 'productLeftSideBar2' %}" {% if not request.GET.partner %}class="active"{% endif %}>All</a>
                                </li>
                                {% for partner in partners %}
                                <li>
                                    <a href="{% url 'productLeftSideBar2' %}?partner={{ partner.name }}{% if request.GET.size %}&size={{ request.GET.size }}{% endif %}" class="category-link partner-link {% if request.GET.partner == partner.name %}active{% endif %}">{{ partner.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="woocommerce-widget size-list-widget">
                            <h3 class="woocommerce-widget-title">Size</h3>

                            <ul class="size-list-row">
                                <li><a href="{% url 'productLeftSideBar2' %}?size=XS{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="size-link {% if request.GET.size == "XS" %}active{% endif %}">XS</a></li>
                                <li><a href="{% url 'productLeftSideBar2' %}?size=S{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="size-link {% if request.GET.size == "S" %}active{% endif %}">S</a></li>
                                <li><a href="{% url 'productLeftSideBar2' %}?size=M{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="size-link {% if request.GET.size == "M" %}active{% endif %}">M</a></li>
                                <li><a href="{% url 'productLeftSideBar2' %}?size=L{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="size-link {% if request.GET.size == "L" %}active{% endif %}">L</a></li>
                                <li><a href="{% url 'productLeftSideBar2' %}?size=XL{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="size-link {% if request.GET.size == "XL" %}active{% endif %}">XL</a></li>
                            </ul>                   
                        </div>

                        <div class="woocommerce-widget price-list-widget">
                            <h3 class="woocommerce-widget-title">Price</h3>

                            <div class="collection-filter-by-price">
                                <form method="get">
                                    <input class="js-range-of-price" type="text" data-min="0" data-max="2000" name="filter_by_price" data-step="10">
                                    <br>
                                    <button class="default-btn w-100" type="submit">Filter by Price</button>
                                </form>
                            </div>

                            {% comment %} <div class="collection-filter-by-price">
                                <input class="js-range-of-price" type="text" data-min="0" data-max="1055"
                                    name="filter_by_price" data-step="10">
                            </div> {% endcomment %}
                        </div>

                        
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="products-filter-options">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-4">
                                
                                <div class="d-lg-flex d-md-flex align-items-center">
                                    <span class="sub-title d-lg-none"><a href="#" data-bs-toggle="modal"
                                            data-bs-target="#productsFilterModal"><i class='bx bx-filter-alt'></i>
                                            Filter</a></span>

                                    <span class="sub-title d-none d-lg-block d-md-block">View:</span>

                                    <div class="view-list-row d-none d-lg-block d-md-block">
                                        <div class="view-column">
                                            <a href="#" class="icon-view-one">
                                                <span></span>
                                            </a>

                                            <a href="#" class="icon-view-two active">
                                                <span></span>
                                                <span></span>
                                            </a>

                                            <a href="#" class="icon-view-three">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>

                                            <a href="#" class="view-grid-switch">
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <p>Showing {{ first_id }} – {{ last_id }} of {{ products.paginator.count }}</p>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="products-ordering-list widget-area">
                                  <section class="widget widget_search">
                                    <form class="search-form">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" name="search" class="search-field" value="{{ request.GET.search }}" placeholder="Search...">
                                        </label>
                                        <button type="submit"><i class="bx bx-search-alt"></i></button>
                                    </form>
                                </section>
                                </div>
                              </div>

                            
                        </div>
                    </div>

                    <div id="products-collections-filter" class="row">
                        {% for product in products %}
                        <div class="col-lg-6 col-md-6 col-sm-6 products-col-item">
                            <div class="products-box" data-product-id="{{ product.id }}">
                                <div class="products-image">
                                    <a class="cadreImgProducts" href="{% url 'productsType5' product.id %}">
                                        <img src="{{product.image1.url }}" class="imgGoodSize main-image" alt="image" />
                                        <img src="{{product.image1.url }}" class="imgGoodSize hover-image" alt="image" />
                                    </a>

                                    <div class="products-button">
                                        <ul>
                                            {% if request.user.is_authenticated %}
                                            <li>
                                                <div class="wishlist-btn">
                                                    <a href="#">
                                                        <i class='bx bx-heart'></i>
                                                        <span class="tooltip-label">Add to Wishlist</span>
                                                    </a>
                                                </div>
                                            </li>
                                            {% endif %}
                                            {% comment %} <li>
                                                <div class="wishlist-btn">
                                                    <a href="{% url 'edit_product' product.id %}"> <!-- Modification de la ligne ici -->
                                                        <i class='bx bx-edit-alt' ></i>
                                                        <span class="tooltip-label">Edit Product</span>
                                                    </a>
                                                </div>
                                            </li> {% endcomment %}
                                            {% comment %} <li>
                                                <div class="wishlist-btn">
                                                    <a href="{% url 'delete_article' product.id %}">
                                                        <i class='bx bx-trash'></i>
                                                        <span class="tooltip-label">Delete Product</span>
                                                    </a>
                                                </div>
                                            </li> {% endcomment %}
                                            <li>
                                                <div class="quick-view-btn">
                                                    <a data-bs-toggle="modal"
                                                        data-bs-target="#productsQuickView{{product.id}}">
                                                        <i class='bx bx-search-alt'></i>
                                                        <span class="tooltip-label">Quick View</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {% if product.created_at >= date_seuil %}
                                    <div class="new-tag">New!</div>
                                    {% endif %}
                                </div>

                                <div class="products-content mb-5">
                                    <span class="category">{{product.category}}</span>
                                    <h3 class="containereTitreHidden"><a href="{% url 'productsType5' product.id %}">{{product.name}}</a></h3>
                                    <div class="fleee">
                                        {% if product.promo > 0 %}
                                        <div class="price">
                                            <span class="old-price">$ {{ product.price }} </span>
                                            <span class="new-price">$ {{ product.get_discounted_price }} </span>
                                        </div>
                                        {% else %}
                                        <div class="price">
                                            <span class="new-price">$ {{ product.price }} </span>
                                        </div>
                                        {% endif %}
                                        <div class="star-rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                    </div>
                                    
                                    <a href="#" class="add-to-cart">Add to Cart</a>
                                </div>

                                {% if product.promo > 0 %}
                                <span class="products-discount">
                                    <span>
                                        {{product.promo}}% OFF
                                    </span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area text-center">
                            {% if products.has_previous %}
                            <a href="?page={{ products.previous_page_number }}" class="prev page-numbers"><i class='bx bx-chevron-left'></i></a>
                            {% endif %}
                            {% for num in products.paginator.page_range %}
                                {% if products.number == num %}
                                    <span class="page-numbers current" aria-current="page">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}" class="page-numbers">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <a href="?page={{ products.next_page_number }}" class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Products Area -->

    <!-- Start Facility Area -->
    <section class="facility-area pb-70">
        <div class="container">
            <div class="facility-slides owl-carousel owl-theme">
                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-tracking'></i>
                    </div>
                    <h3>Free Shipping Worldwide</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-return'></i>
                    </div>
                    <h3>Easy Return Policy</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-shuffle'></i>
                    </div>
                    <h3>7 Day Exchange Policy</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-sale'></i>
                    </div>
                    <h3>Weekend Discount Coupon</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-credit-card'></i>
                    </div>
                    <h3>Secure Payment Methods</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-location'></i>
                    </div>
                    <h3>Track Your Package</h3>
                </div>

                <div class="single-facility-box">
                    <div class="icon">
                        <i class='flaticon-customer-service'></i>
                    </div>
                    <h3>24/7 Customer Support</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- End Facility Area -->
    
    

{% endblock %}