{% extends 'baseFront.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Tracking Order</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Tracking Order</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Start Track Order Area -->
        <section class="track-order-area ptb-100">
            <div class="container">
                <div class="track-order-content">
                    <h2>All In One Package Tracking</h2>

                    <form>
                        <div class="form-group">
                            <label>Order ID</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Billing E-mail</label>
                            <input type="email" class="form-control">
                        </div>

                        <button type="submit" class="default-btn">Track Order</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Track Order Area -->

        <!-- Start Facility Area -->
        <section class="facility-area pb-70">
            <div class="container">
                <div class="facility-slides owl-carousel owl-theme">
                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-tracking'></i>
                        </div>
                        <h3>Free Shipping Worldwide</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-return'></i>
                        </div>
                        <h3>Easy Return Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-shuffle'></i>
                        </div>
                        <h3>7 Day Exchange Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-sale'></i>
                        </div>
                        <h3>Weekend Discount Coupon</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-credit-card'></i>
                        </div>
                        <h3>Secure Payment Methods</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-location'></i>
                        </div>
                        <h3>Track Your Package</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-customer-service'></i>
                        </div>
                        <h3>24/7 Customer Support</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Facility Area -->


{% endblock  %}