{% extends 'baseFront.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}


        <!-- Start Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class='bx bx-search-alt'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Cart</h2>
                    <ul>
                        <li><a href={% url 'index' %}>Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Start Cart Area -->
		<section class="cart-area ptb-100">
            <div class="container">
                <form method="POST" >
                    {% csrf_token %}
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                
                                {% for item in cart_items %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#">
                                                <img src={{item.product.image1.url}} alt="item">
                                            </a>
                                        </td>

                                        <td class="product-name">
                                            <a href="#"> {{item.product.name}} </a>
                                            <ul>
                                                <li>Size: <span>M</span></li>
                                            </ul>
                                        </td>

                                        <td class="product-price">
                                            {% if item.product.promo > 0 %}
                                            <div class="price">
                                                <span class="old-price">$ {{ item.product.price }} </span>
                                                <span class="new-price">$ {{ item.product.get_discounted_price }} </span>
                                            </div>
                                            {% else %}
                                            <div class="price">
                                                <span class="new-price">$ {{ item.product.price }} </span>
                                            </div>
                                            {% endif %}
                                        </td>

                                        <td class="product-quantity d-flex">
                                            <div class="input-counter">
                                                <input type="text" name="quantity_{{item.id}}" min="1" max="{{ item.product.stock_M }}" value="{{ item.quantity }}">
                                            </div> 
                                            <div>
                                                <form action="{% url 'add_to_cart_quantity' item.product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="products-add-to-cart">
                                                        <div class="input-counter">
                                                            <span class="minus-btn"><i class='bx bx-minus'></i></span>
                                                            <input type="text" name="quantity" id="quantity_{{item.product.id}}" min="1" value=1>
                                                            <span class="plus-btn"><i class='bx bx-plus'></i></span>
                                                        </div>
                                      
                                                        <button type="submit" class="default-btn"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="subtotal-amount"> {{item.total}} </span>

                                            <a href={% url 'remove_from_cart' item.id %} class="remove"><i class='bx bx-trash'></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                

                               
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-buttons">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-sm-7 col-md-7">
                                <a href={% url 'productLeftSideBar2' %} class="optional-btn">Continue Shopping</a>
                            </div>
                        </div>
                    </div>

                    <div class="cart-totals">
                        <h3>Cart Totals</h3>

                        <ul>
                            <li>Subtotal <span> {{sub_total}} </span></li>
                            <li>Shipping <span>$30.00</span></li>
                            <li>Total <span> {{sub_total|add:30}} </span></li>
                        </ul>
                        
                        <a href={% url 'checkout' %} class="default-btn">Proceed to Checkout</a>
                    </div>
                </form>
            </div>
        </section>
        <!-- End Cart Area -->

        <!-- Start Facility Area -->
        <section class="facility-area pb-70">
            <div class="container">
                <div class="facility-slides owl-carousel owl-theme">
                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-tracking'></i>
                        </div>
                        <h3>Free Shipping Worldwide</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-return'></i>
                        </div>
                        <h3>Easy Return Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-shuffle'></i>
                        </div>
                        <h3>7 Day Exchange Policy</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-sale'></i>
                        </div>
                        <h3>Weekend Discount Coupon</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-credit-card'></i>
                        </div>
                        <h3>Secure Payment Methods</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-location'></i>
                        </div>
                        <h3>Track Your Package</h3>
                    </div>

                    <div class="single-facility-box">
                        <div class="icon">
                            <i class='flaticon-customer-service'></i>
                        </div>
                        <h3>24/7 Customer Support</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Facility Area -->
        
     

{% endblock content %}