{% load static %}
{% load mathfilters %}

<!-- Start Shopping Cart Modal -->
<div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="bx bx-x"></i></span>
            </button>

            <div class="modal-body">
                <h3 class="quantiteDansPanier">My Cart ({{ cart_counter }})</h3>
                {% if cart_items %}

                <div class="products-cart-content">

                    {% for cart_item in cart_items %}
                    {% if forloop.counter0 < 4 %}
                    <div class="products-cart">
                        <div class="products-image">
                            <a href="{% url 'productsType5' cart_item.product.id %}">
                                <img src="{{ cart_item.product.image1.url }}" alt="image" />
                            </a>
                        </div>

                        <div class="products-content">
                            <h3 style="height: 1px; overflow: hidden;">
                                <a href="{% url 'productsType5' cart_item.product.id %}">{{ cart_item.product.name }}</a>
                            </h3>
                            <div class="products-price">
                                <span>{{ cart_item.quantity }}</span>
                                <span>x</span>
                                {% if cart_item.product.promo > 0 %}
                                        <div class="price">
                                            <span class="new-price">$ {{ cart_item.product.get_discounted_price }} [PROMO : - {{cart_item.product.promo}}%]</span>
                                        </div>
                                        {% else %}
                                        <div class="price">
                                            <span class="new-price">$ {{ cart_item.product.price }} </span>
                                        </div>
                                  {% endif %}
                            </div>
                            <a href="{% url 'remove_from_cart' cart_item.id %}" class="remove-btn"
                                ><i class="bx bx-trash"></i></a
                            >
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

                <div class="products-cart-subtotal">
                    <span>Subtotal</span>

                    <span class="subtotal">$ {{ sub_total }} </span>
                </div>

                <div class="products-cart-btn">
                    <a href="{% url 'checkout' %}" class="default-btn">Proceed to Checkout</a>
                    <a href="{% url 'cartHome' %}" class="optional-btn">View Shopping Cart</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End Shopping Cart Modal -->
