{% load static %}

    <!-- Start Sidebar Modal -->
    <div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="modal-body">
                    <div class="sidebar-about-content">
                        <h3>About The Store</h3>

                        <div class="about-the-store">
                            <p>One of the most popular on the web is shopping. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            
                            <ul class="sidebar-contact-info">
                                <li><i class='bx bx-map'></i> <a href="#" target="_blank">{{ contact_info.location }}</a></li>
                                <li><i class='bx bx-phone-call'></i> <a href="tel:+01321654214">{{ contact_info.phone }}</a></li>
                                <li><i class='bx bx-envelope'></i> <a href="mailto:hello@xton.com">{{ contact_info.email }}</a></li>
                            </ul>
                        </div>

                        <ul class="social-link">
                            <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                        </ul>
                    </div>

                    <div class="sidebar-new-in-store">
                        <h3>New In Store</h3>

                        <ul class="products-list">
                            {% for x in recent_products %}
                            <li>
                                <a class="liSideBarContainer" href="{% url 'productsType5' x.id %}">
                                    <img style="height: 100%; width: 100%;" src="{{x.image1.url}}" alt="image">
                                </a>
                            </li>
                            {% endfor %}

                        </ul>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="{% url 'productLeftSideBar2' %}" class="shop-now-btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Modal -->