{% load static %}
<div
  class="modal right fade shoppingWishlistModal"
  id="shoppingWishlistModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true"><i class="bx bx-x"></i></span>
      </button>

      <div class="modal-body">
        <h3>My Wish List ( {{wish_items_count}} )</h3>

        <div class="products-cart-content">
          
                {% for item in wishlist_items  %}
                <div class="products-cart">
                    <div class="products-image" style="margin-bottom: 5px;">
                      <a style=" width: 100%; height: 50px; display: flex;align-items: center;justify-content: center;overflow: hidden;" href="{% url 'productsType5' item.product.id %}"><img src={{item.product.image1.url}} alt="image"/></a>
                    </div>
        
                    <div class="products-content">
                      <h3 style="height: 20px; overflow: hidden;"><a href="{% url 'productsType5' item.product.id %}"> {{item.product.name}} </a></h3>
                      <div class="products-price">
                       
                        {% comment %} <span class="price">{{item.product.price}}</span> {% endcomment %}
                        {% if item.product.promo > 0 %}
                        <div class="price">
                            <span class="new-price">$ {{ item.product.price}} - {{item.product.promo}}% = $ {{ item.product.get_discounted_price }}</span>
                        </div>
                        {% else %}
                        <div class="price">
                            <span class="new-price">$ {{ item.product.price }} </span>
                        </div>
                        {% endif %}
                      </div>
                      <a href={% url 'remove_from_wishlist' item.id %} class="remove-btn"><i class="bx bx-trash"></i></a>
                    </div>
                  </div>
                {% endfor %}
          
        </div>

        <div class="products-cart-btn">
          <a href="#" class="optional-btn">View Shopping Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Wishlist Modal -->
